div{
    height: 100px;
    width: 100px;
    text-align: center;
}
.first{
    border: 3px;
    border-radius: 10px;
    background-color: azure;
}
.second{
    border: 3px;
    border-radius: 50px;
    background-color: beige;
}
.third{
    border: 3px;
    border-radius: 100px;
    background-color: bisque;
}