.third{
    box-shadow: dimgrey;
    offset: 15px;
    offset: 15px;
    filter: blur(10px);
    background-color: aqua;
}
.second{
    box-shadow: dimgrey;
    offset: 15px;
    offset: 15px;
    filter: blur(30px);
    background-color: blueviolet;
}
.first{
    box-shadow: dimgrey;
    offset: 15px;
    offset: 15px;
    filter: blur(20px);
    background-color: tomato;
}